<div class="banner">
  <div class="container">
    <h1>Bienvenue <%= current_user.email.gsub("@gmail.com", "").capitalize %></h1>
    <%= link_to "Create List", new_list_path, class: "btn btn-success" %>
  </div>
</div>

<div class="container">
  <% if @lists.size.zero? %>
    <p>You don't have any list yet... create some, please.</p>
  <% end %>
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list.id), class: "card-link" do %>
        <div class="card-list">
          <h3><%= list.name %> (<%= list.bookmarks.size %>)</h3>
        </div>
      <% end %>  
    <% end %>
  </div>
</div>